{
  "semi":false,
  "singleQuote":false,
  "trailingComma":"none",
  "tabWidth":2,
  "endOfLine":"lf",
  "bracketSpacing":true,
  "arrowParens":"always",

  "overrides":[
    {
      "files":"*.json",
      "options":{
        "printWidth":9999,
        "bracketSpacing":false
      }
    }
  ]
}
